test.c
a.out
main.c
./test_files/*
test_files/
src/pipex
src/pipex/*
*.swp
*.d
*.o
*.a
*.ods
*.ods#
tmp
*.json
tags
imgui.ini
.cache
tester/.
minishell
infile*
outfile*
bash_outfile
file
>outfile
LICENSE
README.md
cmds/
install.sh
lol.c"
lol.c'
out|cd
tester.png
tester.sh
tmp_err_bash
tmp_err_minishell
tmp_out_bash
tmp_out_minishell
tmp_redir_out
tmp_redir_out_file1
type
lol.c"